html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: fff;
    font-family: arial, sans-serif;
    font-size: small;
    overflow: hidden;
    color: #333;
}
div#header {
    border-bottom: 1px solid #000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D3D3D3), color-stop(0.95, #FFFFFF));
    background-image: -o-linear-gradient(bottom, #D3D3D3 0%, #FFFFFF 95%);
    background-image: -moz-linear-gradient(bottom, #D3D3D3 0%, #FFFFFF 95%);
    background-image: -webkit-linear-gradient(bottom, #D3D3D3 0%, #FFFFFF 95%);
    background-image: -ms-linear-gradient(bottom, #D3D3D3 0%, #FFFFFF 95%);
    background-image: linear-gradient(to bottom, #D3D3D3 0%, #FFFFFF 95%);
    height: 40px;
    position: relative;
}
div#content {
    bottom: 0;
    float: left;
    margin-top: 41px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
div#container {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    /*height:auto !important;  real browsers */
    height: 100%;
    /* IE6: treaded as min-height*/
    min-height: 100%;
    /* real browsers */
}
div#footer {
    position: absolute;
    clear: both;
    width: 100%;
    height: 40px;
    bottom: 0;
    /* stick to bottom */
    background: #fff;
    border-top: 1px solid #000;
}
.paddedContent {
    height: 100%;
    margin: 0px;
}