html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: fff;
    font-family:'Roboto', sans-serif;
    font-size: 80% !important;
    overflow: hidden;
    color: #111;
}
div#header {
    border-bottom: 1px solid #000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D3D3D3), color-stop(0.95, #FFFFFF));
    background-image: -o-linear-gradient(bottom, #D3D3D3 0%, #FFFFFF 95%);
    background-image: -moz-linear-gradient(bottom, #D3D3D3 0%, #FFFFFF 95%);
    background-image: -webkit-linear-gradient(bottom, #D3D3D3 0%, #FFFFFF 95%);
    background-image: -ms-linear-gradient(bottom, #D3D3D3 0%, #FFFFFF 95%);
    background-image: linear-gradient(to bottom, #D3D3D3 0%, #FFFFFF 95%);
    height: 50px;
    position: relative;
}
div#content {
    bottom: 0;
    float: left;
    margin-top: 51px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
div#container {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    /*height:auto !important;  real browsers */
    height: 100%;
    /* IE6: treaded as min-height*/
    min-height: 100%;
    /* real browsers */
}
div#footer {
    position: absolute;
    clear: both;
    width: 100%;
    min-height: 40px;
    bottom: 0;
    /* stick to bottom */
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
    border-top: 1px solid #000;
}
.paddedContent {
    height: 100%;
    margin: 0px;
}
img.dane_logo01 {
    float: left;
    height: 40px;
    width: 160px;
}
img.dane_logo02 {
    float: right;
    height: 40px;
    width: 100px;
}
button#btnStartRoundTrip, button#btnCommitLocations {
    position:absolute;
    bottom:5px;
    left:5px;
}
button#btnRouteRoundtrip {
    position:absolute;
    bottom:5px;
    left:5px;
    width: 7em;
    text-align: left;
}
button#btnRouteAZtrip {
    position:absolute;
    bottom:5px;
    left:5px;
    width: 8em;
    text-align: left;
}
button#btnRollbackLocations, button#btnRollbackOptions, button#btnResetRoute {
    position:absolute;
    bottom:5px;
    right:5px;
}
.roundtrip-box {
    padding:5px;
}
.roundtrip-box h4 {
    margin: 2px 2px 10px;
}
button:disabled {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #222222;
    color: #333333;
}
.button {
    font-family:'Roboto', sans-serif;
    font-size: small;
    appearance:button;
    -moz-appearance:button;
    -webkit-appearance:button;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    padding: 2px;
    background: none repeat scroll 0 0 #B6004B;
    border: 1px solid #6A002B;
    color: #FFFFFF;
    text-decoration: none;
}
.roundtrip-add_points, .roundtrip-config-solver, .roundtrip-solver-results {
    display:none;
}
.marker-item {
    display:block;
}
.marker-item {
    border-bottom: 1px solid #DDDDDD;
    display: block;
    font-size: 75%;
    margin-top: 1em;
    padding-bottom: 0.5em;
}
.options-listbox > div {
    display: block;
    margin-bottom: 4px;
    width: 100%;
}
.options-listbox .solver-travelmodebox label, .options-listbox .solver-travelmodebox select {
    display: block;
}
.options-listbox .solver-travelmodebox select {
    margin-top: 2px;
    width: 100%;
}
.progressbox-routing {
    display:none;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #444444;
    left: 0.3em;
    margin: 0 auto;
    padding: 2px;
    position: fixed;
    top: 4.2em;
    z-index: 2000;
}
@media screen and (orientation:portrait) {
    .paddedContent {
        height: 100%;
        margin: 0px;
    }
    .roundtrip-welcome > h4, .roundtrip-welcome > div {
        display:none;
    }
    .roundtrip-add_points, .roundtrip-config-solver {
        height:160px;
    }
    .markers-list {
        display: block;
        height: 64%;
        overflow: auto;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    button#btnRouteAZtrip {
        bottom: 5px;
        left: 8em;
        position: absolute;
        width: 8em;
    }
}
@media screen and (orientation:landscape) {
    div#content {
        width: 55%;
    }
    div#footer {
        border: 1px solid #000000;
        height: 84%;
        right: 0;
        top: 50px;
        width: 45%;
    }
    .paddedContent {
        height: 100%;
    }
    .roundtrip-welcome div {
        display: block;
    }
    .markers-list {
        display: block;
        height: 12em;
        overflow: auto;
        width: 96%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    button#btnRouteRoundtrip {
        width: 8em;
    }
    button#btnRouteAZtrip {
        bottom: 3em;
        left: 5px;
        position: absolute;
        width: 8em;
        text-align: left;
    }
}