html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: fff;
    font-family:'Roboto', sans-serif;
    font-size: small;
    overflow: hidden;
    color: #111;
}
div#header {
    border-bottom: 1px solid #000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D3D3D3), color-stop(0.95, #FFFFFF));
    background-image: -o-linear-gradient(bottom, #D3D3D3 0%, #FFFFFF 95%);
    background-image: -moz-linear-gradient(bottom, #D3D3D3 0%, #FFFFFF 95%);
    background-image: -webkit-linear-gradient(bottom, #D3D3D3 0%, #FFFFFF 95%);
    background-image: -ms-linear-gradient(bottom, #D3D3D3 0%, #FFFFFF 95%);
    background-image: linear-gradient(to bottom, #D3D3D3 0%, #FFFFFF 95%);
    height: 50px;
    position: relative;
}
div#content {
    bottom: 0;
    float: left;
    margin-top: 51px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
div#container {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    /*height:auto !important;  real browsers */
    height: 100%;
    /* IE6: treaded as min-height*/
    min-height: 100%;
    /* real browsers */
}
div#footer {
    position: absolute;
    clear: both;
    width: 100%;
    min-height: 30px;
    bottom: 0;
    /* stick to bottom */
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
    border-top: 1px solid #000;
}
.paddedContent {
    height: 100%;
    margin: 0px;
}
img.dane_logo01 {
    float: left;
    height: 40px;
    width: 160px;
}
img.dane_logo02 {
    float: right;
    height: 40px;
    width: 100px;
}
button#btnToogleRoundTrip, button#btnCommitLocations {
    position:absolute;
    bottom:5px;
    left:5px;
}
button#btnRollbackLocations {
    position:absolute;
    bottom:5px;
    right:5px;
}
.roundtrip-box {
    padding:5px;
}
.roundtrip-box h4 {
    margin: 2px 2px 10px;
}
.roundtrip-add_points {
    display:none;
}
@media screen and (orientation:portrait) {
    .roundtrip-welcome > h4, .roundtrip-welcome > div {
        display:none;
    }
    .roundtrip-add_points {
        height:160px;
    }
}
@media screen and (orientation:landscape) {
    div#content {
        width: 55%;
    }
    div#footer {
        border: 1px solid #000000;
        height: 84%;
        right: 0;
        top: 50px;
        width: 45%;
    }
    .roundtrip-welcome div {
        display: block;
    }
}